.fa-close{
	position: absolute;
	right:10px;
	top:-5px;
	color:red;
}

.material-size{
	width:90%;
}
.formula-footer{
	width:100px;
	height:400px;
}

.align-bottom a{
	position: relative;
	top:30px;	
}

.bottom20{
	margin-bottom: 20px;
}

.btn-link{
	text-decoration: none;
}
















