<br>
<div class="row">
	<div class="col-md-2">
		<div class="box-label">
			<div class="cell-label">
				<div class="annie-label">Date</div>
			</div>
			<div class="aqua cell-label">
				<div class="annie-label">Scheduled</div>
			</div>
			<div class="purple cell-label">
				<div class="annie-label">Committed</div>
			</div>					
			<div class="blue cell-label" style="color:white;">
				<div class="annie-label">Planned</div>
			</div>						
			<div class="red cell-label" style="color:white;">
				<div class="annie-label">Balance</div>
			</div>
		</div>
	</div>
	<div class="box-container">
		<div [style.border]="committedHighlight(cal.committed,'border')" 
			[style.background-color]="committedHighlight(cal.committed,'bg')"
			class="text-center box"
			*ngFor="let cal of calendar">
			<div class="cell" 
				style="background:rgba(255,255,255,.5)">
				{{ cal.date | date:'M/d' }}
			</div>
			<div class="cell" style="background:rgba(0, 206, 175, .1);">
				<span *ngIf="cal.scheduled !==0">{{ cal.scheduled }}</span>
			</div>
			<div class="purple-light cell">
				<span *ngIf="cal.committed !==0">{{ cal.committed }}</span>
			</div>
			<div class="blue-light cell">
				<span (click)="scheduleModal='true'" *ngIf="cal.planned !==0">
					<schedule-modal (updateScheduled) ="updateTriggerfromScheduleModal($event)" [date]="cal.date" [linkLabel]="cal.planned |number:'1.1-2'" [item]="{planned:cal.planned,product:product}"></schedule-modal>
				</span>
			</div>
			<div class="cell cell-bottom" [style.color]="highLight(cal.balance)">
				<span>{{ cal.balance |number:'1.1-2'}}</span>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div style="margin-top:20px" class="col-md-2 col-xs-12">
		<span style="color:rgba(0, 153, 151, 1)">
			<schedule-modal (updateScheduled) ="updateTriggerfromScheduleModal($event)" [date]="today" [linkLabel]="'Add Schedule'" [item]="{planned:1,product:product}"></schedule-modal>
		</span>
	</div>	
	<div class="col-md-2 col-xs-12">
		<div class="form-group">
			<span class="label label-primary">Days Back</span>
			<input class="form-control" type="text" [(ngModel)] ="numOfDatesBack" (change)="updateViewDays('back')" placeholder="Days Back" />
		</div>
	</div>
	<div class="col-md-2 col-xs-12">
		<div class="form-group">
			<span class="label label-primary">Days Foward</span>
			<input class="form-control" type="text" [(ngModel)] ="numOfDates" (change)="updateViewDays('foward')" placeholder="Days Foward" />
		</div>
	</div>
</div>

























